<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="${article.title}">Word</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<header th:replace="fragments/main :: header"></header>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="pull-right word_page_rating" > <span class="glyphicon glyphicon-star"></span> <span th:text="${article.rating}">5</span></div>
            <h1 th:text="${article.title}" class="word">Title</h1>
            <div th:utext="${article.content}" class="page-content clearfix">

            </div>
            <hr/>
            <div class="article-words">
                <a th:each="word : ${article.words}" th:href="@{/words/{id}(id=${word.id})}" href="word.html">
                    <span th:text="${word.name}">Name</span>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="aside" th:replace="fragments/main :: aside"></div>
        </div>
    </div>
</div>

<footer th:replace="fragments/main :: footer"></footer>
</body>
</html>