<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<header th:replace="fragments/main :: header"></header>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Search</h1>
            <form class="" method="get" action="/search">
                <div class="input-group">
                    <input type="text" class="form-control" name="query" th:value="${query}" value="" placeholder="Search for..." />
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Search</button>
                    </span>
                </div>
            </form>
            <table class="table">
                <tr th:each="word : ${words}">
                    <td class="clearfix">
                        <p><a th:href="@{/word/{id}(id=${word.id})}" href="word.html">
                            <strong th:text="${word.name}">Name</strong>
                        </a></p>
                        <div class="small_add_info"> <span class="glyphicon glyphicon-star"></span> <span th:text="${word.rating}"></span></div>
                    </td>
                    <td>
                        <div th:each="definition : ${word.definitions}" class="clearfix definition-row">
                            <p th:text="${definition.text}">definition text definition text</p>
                        </div>
                    </td>
                </tr>
            </table>
            <p>Result count: <span th:text="${words.totalElements}">10</span></p>
            <br/>
        </div>
        <div class="col-md-4">
            <div class="aside" th:replace="fragments/main :: aside"></div>
        </div>
    </div>
</div>

<footer th:replace="fragments/main :: footer"></footer>
</body>
</html>